@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
body {
    /* background-color: #4c6894; */
    background-color: #83b1fa;
}

h1,
h2,
h3,
h4 {
    color: #ffcb05;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 0 0 8px #3663ad;
}

h1 {
    font-size: 60px;
    text-align: center;
}

h2 {
    font-size: 75px;
}

h3 {
    font-size: 50px;
    text-align: center;
}

h4 {
    font-size: 30;
}

h2>span,
h2>img {
    margin: auto 5px;
}

.jumbotron {
    background-image: url(../images/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 1200px;
    height: 390px;
    padding-top: 1rem;
}

#lives-and-letters-row {
    visibility: hidden;
}

.container {
    background-color: #3664ad;
    border-radius: 10px;
}